<!DOCTYPE html>
<html>
  <head>
    {% if google %}
      {% include google %}
    {% endif %}
    {% if mixpanel %}
      {% include mixpanel %}
    {% endif %}
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
    <meta name="description" content="PWA">
    <title>{{ title }}</title>
    <link rel="stylesheet" href="/css/auth/account-min.css">
  </head>
  <body>
    <div class="alert-container">
      <h6 class="alert"></h6>
      <div class="alert-icon"></div>
    </div>
    <header class="header">
      <section class="header-section">
        <h1 class="header-section-title">Streetwised</h1>
        <button class="header-section-route"></button>
      </section>
    </header>
    <main class="main">
      <form class="form">
        <input type="file" name="avatar" class="form-input" accept="image/*">
      </form>
      <div class="user">
        <div class="image">
          <div class="spinner"></div>
          <img class="user-image" src="{{ src }}">
        </div>
        <h5 class="edit-image">Edit profile picture</h5>
        <h2 class="user-name">{{ name }}</h2>
        <h3 class="user-username">{{ username }}</h4>
      </div>
      <div class="settings">
        <section class="logout">
          <a class="logout-route" href="/logout">Log out</a>
        </section>
      </div>
    </main>
    <script src="/js/auth/exif.js" charset="utf-8"></script>
    <script src="js/auth/account.js" charset="utf-8"></script>
  </body>
</html>
