<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta charset="utf-8">
    <title>{{ title }}</title>
    <link href='https://api.tiles.mapbox.com/mapbox-gl-js/v0.46.0/mapbox-gl.css' rel='stylesheet' />
    <link rel="stylesheet" href="/css/auth/ask.css">
  </head>
  <body>
    <header class="header">
      <section class="header-section">
        <h1 class="header-section-title">Streetwised</h1>
        <button class="header-section-route"></button>
      </section>
    </header>
    <main class="main">
      <img src="{{ image }}" class="image">
      <form class="form">
        <textarea class="form-question" name="text" placeholder="Ask a question"></textarea>
        <textarea class="form-tag" name="tag" placeholder="Add a tag"></textarea>
        <p class="form-tag-count"></p>
      </form>
      <div class="controller">
        <p class="controller-cancel">Cancel</p>
        <p class="controller-post">Post question</p>
      </div>
    </main>
    <script src="/js/auth/ask.js" charset="utf-8"></script>
  </body>
</html>
