<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta charset="utf-8">
    <title>{{ title }}</title>
    <link href='https://api.tiles.mapbox.com/mapbox-gl-js/v0.46.0/mapbox-gl.css' rel='stylesheet' />
    <link rel="stylesheet" href="/css/auth/ask.css">
  </head>
  <body>
    <header class="header">
      <section class="header-section">
        <h1 class="header-section-title">Streetwised</h1>
        <button class="header-section-route"></button>
      </section>
    </header>
    <main class="main">
      <form class="form">
        <section class="info">
          <img src="{{ image }}" class="image">
          <h5 class="question-count">90</h5>
          <h5 class="tag-count">8</h5>
        </section>
        <section class="input">
          <textarea class="question" name="question" placeholder="Ask a question" maxlength="139"></textarea>
          <textarea class="tag" name="tag" placeholder="Add a tag" maxlength="12"></textarea>
          <button class="button">Post question</button>
        </section>
      </form>
    </main>
    <script src="/js/auth/ask.js" charset="utf-8"></script>
  </body>
</html>
