<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="PWA">
    <title>{{ title }}</title>
    <link rel="stylesheet" href="/css/auth/avatar.css">
  </head>
  <body>
    <main class="main">
      <form class="form">
        <input type="file" name="avatar" class="form-input" accept="image/*">
      </form>
      <div class="container">
        <div class="buffer"></div>
        <div class="button-container">
          <button class="button">Choose Profile Picture</button>
        </div>
        <div class="buffer-button"></div>
      </div>
      <div class="render">
          <div class="image-boundary"></div>
          <canvas class="canvas"></canvas>
      </div>
      <div class="zoom">
        <button class="zoom-in"></button>
        <button class="zoom-out"></button>
      </div>
    </main>
    <div class="controller">
      <button class="skip">Skip</button>
      <button class="save">Save</button>
    </div>
    <script src="/js/auth/avatar.js" charset="utf-8"></script>
  </body>
</html>
