@import url('https://fonts.googleapis.com/css?family=Quicksand:200,300,400,500');

* {
  border: 0;
  box-sizing: border-box;
  outline: none;
  margin: 0;
  padding: 0;
}

html, body {
  height: 100%;
  position: fixed;
  width: 100%;
}

body {
  overflow: hidden;
}

button {
  background-color: inherit;
}

::-webkit-scrollbar {
  display: none;
}

::-moz-scrollbar {
  display: none;
}

/* Safari */
@-webkit-keyframes spin {
  0% { -webkit-transform: rotate(0deg); }
  100% { -webkit-transform: rotate(360deg); }
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}

/* ---------------------------------------------------------------------------*/
/* ---------------------------------------------------------------------------*/

:root {
  --header-height: 50px;
  --main-height: calc(100% - 50px);
}

/* ---------------------------------------------------------------------------*/
/* ---------------------------------------------------------------------------*/

.header {
  background-color: rgb(255, 255, 255);
  border-bottom: 2px solid rgb(47, 184, 205);
  height: var(--header-height);
  padding: 5px 10px;
  width: 100%;
  z-index: 2;
}

.header-section {
  height: calc(var(--header-height) - 10px);
  margin: auto;
  max-width: 1024px;
  width: 100%;
}

.header-section-title {
  color: rgb(37, 39, 43);
  display: inline-block;
  font-family: 'Quicksand', sans-serif;
  font-size: 20px;
  font-weight: 500;
  height: calc(var(--header-height) - 10px);
  line-height: calc(var(--header-height) - 10px);
  width: calc(100% - 40px);
  vertical-align: middle;
}

.header-section-route {
  background-image: url(../../assets/icons/arrow-alt-left-light.svg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: 30px 30px;
  cursor: pointer;
  display: inline-block;
  height: calc(var(--header-height) - 10px);
  line-height: calc(var(--header-height) - 10px);
  width: 35px;
  vertical-align: middle;
}

/* ---------------------------------------------------------------------------*/
/* ---------------------------------------------------------------------------*/

.form {
  display: none;
}

/* ---------------------------------------------------------------------------*/
/* ---------------------------------------------------------------------------*/

.user {
  height: 250px;
  width: 100%;
}

.image {
  border: 1px solid rgb(230, 230, 230);
  border-radius: 50%;
  display: block;
  height: 120px;
  margin: auto;
  margin-top: 30px;
  position: relative;
  width: 120px;
}

.user-image {
  border-radius: 50%;
  height: 100%;
  width: 100%;
}

.spinner {
  background-image: url(../../assets/icons/spinner-third-light-white.svg);
  background-color: rgba(0, 0, 0, 0.2);
  background-position: center;
  background-repeat: no-repeat;
  background-size: 50px 50px;
  border-radius: 50%;
  display: none;
  height: 100%;
  position: absolute;
  width: 100%;
  -webkit-animation: spin 0.8s linear infinite; /* Safari */
  animation: spin 0.8s linear infinite;
}

.edit-image {
  color: rgb(31, 152, 172);
  cursor: pointer;
  font-family: 'Quicksand', sans-serif;
  font-weight: 500;
  font-size: 16px;
  margin-top: 10px;
  text-align: center;
}

.user-name {
  color: rgb(37, 39, 43);
  font-family: 'Quicksand', sans-serif;
  font-weight: 500;
  font-size: 25px;
  margin-top: 10px;
  text-align: center;
}

.user-username {
  color: rgb(37, 39, 43);
  font-family: 'Quicksand', sans-serif;
  font-weight: 300;
  font-size: 16px;
  height: 25px;
  text-align: center;
}

.settings {
  display: block;
}

.logout {
  text-align: center;
}

.logout-route {
  color: rgb(37, 39, 43);
  font-family: 'Quicksand', sans-serif;
  font-weight: 300;
  font-size: 16px;
  height: 25px;
  padding: 20px;
}

.logout-route:link,
.logout-route:visited,
.logout-route:hover,
.logout-route:active {
  background-color: (249, 249, 250);
  color: rgb(31, 152, 172);
  text-decoration: none;
}
