* {
  border: 0;
  box-sizing: border-box;
  outline: none;
  margin: 0;
  padding: 0;
}

html, body {
  height: 100%;
}

body {
  overflow: hidden;
}

:root {
  --header-height: 60px;
  --main-height: calc(100% - 60px);
  --header-section-button-width: 30px;
  --header-section-title-width: calc(100% - 30px);
}

::-webkit-scrollbar {
  display: none;
}

.header {
  background: linear-gradient(45deg, #2DBD9D 0%, #72DE93 100%);
  height: var(--header-height);
  width: 100%;
}

.header-section {
  display: flex;
  margin: auto;
  max-width: 600px;
  padding: 10px;
}

.header-section-button {
  background-color: inherit;
  background-image: url(../../assets/icons/angle-left-light-white.svg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: 30px 30px;
  display: block;
  height: 40px;
  width: var(--header-section-button-width);
}

.header-section-title {
  color: rgb(255, 255, 255);
  font-family: sans-serif;
  font-size: 20px;
  font-weight: 400;
  flex: 1;
  margin-right: var(--header-section-button-width);
  padding-top: 10px;
  text-align: center;
}

.main {
  display: block;
  height: var(--main-height);
  overflow-y: scroll;
  margin: auto;
  max-width: 600px;
  width: 100%;
}

.main-article {
  color: rgb(3, 21, 13);
  padding: 10px;
}

.main-article-route {
  font-family: sans-serif;
  font-size: 20px;
  font-weight: 300;
}

.main-article-route:link,
.main-article-route:visited,
.main-article-route:hover,
.main-article-route:active {
  background-color: inherit;
  color: #000;
  text-decoration: none;
}
