@import url('https://fonts.googleapis.com/css?family=Quicksand:200,300,400,500');

* {
  border: 0;
  box-sizing: border-box;
  outline: none;
  margin: 0;
  padding: 0;
}

html, body {
  height: 100%;
  position: fixed;
  width: 100%;
}

body {
  overflow: hidden;
}

button {
  background-color: inherit;
}

::-webkit-scrollbar {
  display: none;
}

::-moz-scrollbar {
  display: none;
}

/* ---------------------------------------------------------------------------*/
/* ---------------------------------------------------------------------------*/

:root {
  --header-height: 50px;
  --main-height: calc(100% - 50px);
  --controller-height: 60px;
}

/* ---------------------------------------------------------------------------*/
/* ---------------------------------------------------------------------------*/

.header {
  background-color: rgb(255, 255, 255);
  border-bottom: 2px solid rgb(47, 184, 205);
  height: var(--header-height);
  padding: 5px 10px;
  width: 100%;
  z-index: 2;
}

.header-section {
  height: calc(var(--header-height) - 10px);
  margin: auto;
  max-width: 800px;
  width: 100%;
}

.header-section-title {
  color: rgb(37, 39, 43);
  display: inline-block;
  font-family: 'Quicksand', sans-serif;
  font-size: 20px;
  font-weight: 500;
  height: calc(var(--header-height) - 10px);
  line-height: calc(var(--header-height) - 10px);
  width: calc(100% - 40px);
  vertical-align: middle;
}

.header-section-route {
  background-image: url(../../assets/icons/arrow-alt-left-light.svg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: 30px 30px;
  display: inline-block;
  height: calc(var(--header-height) - 10px);
  line-height: calc(var(--header-height) - 10px);
  width: 35px;
  vertical-align: middle;
}

/* -------------------------------------------------------------------------- */
/* -------------------------------------------------------------------------- */

.main {
  display: flex;
  height: var(--main-height);
}

.image {
  border: 1px solid rgb(230, 230, 230);
  border-radius: 50%;
  display: inline-block;
  height: 70px;
  margin: auto;
  margin: 10px 10px 0px 10px;
  width: 70px;
}

.form {
  display: inline-block;
  margin-top: 10px;
  width: calc(100% - 105px);
}

.form-question {
  background-color: rgba(47, 184, 205, 0.1);
  border-bottom: 2px solid rgb(47, 184, 205);
  display: block;
  font-family: 'Quicksand', sans-serif;
  font-weight: 300;
  font-size: 18px;
  height: 130px;
  padding: 5px;
  resize: none;
  width: 100%;
}

.form-tag {
  background-color: rgba(47, 184, 205, 0.1);
  display: inline-block;
  font-family: 'Quicksand', sans-serif;
  font-weight: 300;
  font-size: 18px;
  height: 35px;
  padding: 5px;
  resize: none;
  width: calc(100% - 60px);
}

/* -------------------------------------------------------------------------- */
/* -------------------------------------------------------------------------- */

.controller {
  background-color: rgb(255, 255, 255);
  bottom: 0;
  border: 2px solid rgb(47, 184, 205);
  border-bottom: none;
  border-radius: 25px 25px 0 0;
  display: flex;
  height: var(--controller-height);
  position: absolute;
  padding: 10px;
  width: 100%;
}

.controller-cancel,
.controller-post {
  border-radius: 10px;
  border: 1px solid rgb(31, 152, 172);
  display: block;
  font-family: 'Quicksand', sans-serif;
  font-size: 16px;
  line-height: 30px;
  margin: auto;
  margin-top: 0;
  text-align: center;
  min-width: 130px;
  vertical-align: middle;
  width: 50%;
}

.controller-cancel {
  color: rgb(31, 152, 172);
  margin-right: 4px;
}

.controller-post {
  background-color: rgb(31, 152, 172);
  color: rgb(255, 255, 255);
  margin-left: 4px;
}
