@import url('https://fonts.googleapis.com/css?family=Quicksand:200,300,400,500');

* {
  border: 0;
  box-sizing: border-box;
  outline: none;
  margin: 0;
  padding: 0;
}

html, body {
  height: 100%;
  position: fixed;
  background: rgb(31, 152, 172);
  background: linear-gradient(45deg, rgb(31, 152, 172) 0%, rgb(47, 184, 205) 100%);
  width: 100%;
}

body {
  overflow: hidden;
}

button {
  background-color: inherit;
}

::-webkit-scrollbar {
  display: none;
}

::-moz-scrollbar {
  display: none;
}

/* ---------------------------------------------------------------------------*/
/* ---------------------------------------------------------------------------*/

:root {
  --main-height: 100%;
}

/* ---------------------------------------------------------------------------*/
/* ---------------------------------------------------------------------------*/

.check-circle {
  background-image: url(../../assets/icons/check-circle-light-white.svg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: 20px 20px;
  display: block;
}


.spinner {
  background-image: url(../../assets/icons/spinner-third-light-white.svg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: 20px 20px;
  display: block;
  -webkit-animation: spin 0.8s linear infinite; /* Safari */
  animation: spin 0.8s linear infinite;
}

/* Safari */
@-webkit-keyframes spin {
  0% { -webkit-transform: rotate(0deg); }
  100% { -webkit-transform: rotate(360deg); }
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}

/* ---------------------------------------------------------------------------*/
/* ---------------------------------------------------------------------------*/

.main {
  display: block;
  height: var(--main-height);
  width: 100%;
}

.form {
  display: none;
  height: 0px;
  width: 0px;
}

.container {
  display: flex;
  margin: auto;
  margin-top: 30px;
  margin-bottom: 30px;
  width: 300px;
}

.buffer,
.buffer-button {
  display: inline-block;
  height: 40px;
  width: 35px;
}

.button-container {
  display: inline-block;
  height: 40px;
  width: 230px;
}

.button {
  border: 1px solid rgb(255, 255, 255);
  border-radius: 10px;
  color: rgb(255, 255, 255);
  font-family: 'Quicksand', sans-serif;
  font-weight: 400;
  font-size: 16px;
  height: 100%;
  width: 100%;
}
