<section class="ask">
  <form class="form">
    <section class="form-count">
      <h5 class="form-question-count">90</h5>
      <h5 class="form-tag-count">8</h5>
    </section>
    <section class="form-input">
      <textarea class="form-question" name="question" placeholder="Ask a question" maxlength="139"></textarea>
      <textarea class="form-tag" name="tag" placeholder="Add a tag" maxlength="12"></textarea>
      <button class="form-button">Post question</button>
    </section>
  </form>
</section>
