<section class="modal-content">
  <img class="modal-content-image">
  <h1 class="modal-content-title"></h1>
  <div class="content-container">
    <p class="modal-content-text"></p>
  </div>
  <div class="modal-content-container">
    <div class="modal-content-container-icon"></div>
    <p class="modal-content-container-title"></p>
  </div>
  <div class="modal-content-banner">
    <i class="modal-content-banner-travel"></i>
    <a class="modal-content-banner-comments">
      <span class="modal-content-banner-comments-icon"></span>
      <span class="modal-content-banner-comments-count"></span>
    </a>
    <i class="modal-content-banner-close"></i>
  </div>
</section>
