<section class="view">
  <div class="view-container">
    <article class="view-article-full-template">
      <header class="view-article-header">
        <img class="view-article-header-image">
        <h1 class="view-article-header-title"></h1>
      </header>
      <p class="view-article-content"></p>
      <div class="view-article-container">
        <div class="view-article-container-badge"></div>
        <img class="view-article-container-image">
        <h1 class="view-article-container-title"></h1>
      </div>
      <p class="view-article-secondary-content"></p>
      <footer class="view-article-footer">
        <div class="view-article-footer-icon"></div>
        <p class="view-article-footer-location"></p>
        <a class="view-article-footer-link">
          <div class="view-article-footer-link-icon"></div>
          <p class="view-article-footer-link-content"></p>
        </a>
      </footer>
    </article>
    <article class="view-article-partial-template">
      <header class="view-article-header">
        <img class="view-article-header-image">
        <h1 class="view-article-header-title"></h1>
      </header>
      <p class="view-article-content"></p>
      <footer class="view-article-footer">
        <div class="view-article-footer-icon"></div>
        <p class="view-article-footer-location"></p>
        <a class="view-article-footer-link">
          <div class="view-article-footer-link-icon"></div>
          <p class="view-article-footer-link-content"></p>
        </a>
      </footer>
    </article>
  </div>
</section>
