<div class="search-modal">
  <section class="search">
    <header class="search-header">
      <section class="search-header-section">
        <div class="search-header-section-container">
          <input class="search-header-section-container-input" placeholder="Enter your location">
        </div>
        <i class="search-header-section-icon"></i>
      </section>
    </header>
    <section class="load">
      <div class="load-spinner"></div>
    </section>
    <ul class="search-list">
      <li class="search-list-item-template"></li>
    </ul>
  </section>
</div>
