<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta charset="utf-8">
    <title>{{ title }}</title>
    <link href='https://api.tiles.mapbox.com/mapbox-gl-js/v0.46.0/mapbox-gl.css' rel='stylesheet' />
    <link rel="stylesheet" href="/css/home.css">
  </head>
  <body>
    {% if intro %}
      {% include intro %}
    {% endif %}
    <div class="modal">
      {% include "_partials/home/content.html" %}
    </div>
    <header class="header">
      <section class="header-section">
        <i class="header-section-icon"></i>
        <div class="header-section-container">
          <h1 class="header-section-container-title"></h1>
        </div>
        <a href="/account" class="{{ headerClass }}"></a>
      </section>
    </header>
    {% include "_partials/home/map.html" %}
    {% include "_partials/home/search.html" %}
    {% if ask %}
      {% include ask %}
    {% endif %}
    {% include "_partials/home/questions.html" %}
    <section class="preview-container">
      <section class="preview">
        <img class="preview-image-template">
      </section>
    </section>
    <section class="menu">
      <button class="menu-questions">See all questions</button>
      {% include menuOption %}
    </section>
    <script src="https://api.tiles.mapbox.com/mapbox-gl-js/v0.46.0/mapbox-gl.js"></script>
    <script src="/js/map.js" charset="utf-8"></script>
    <script src="{{ script }}" charset="utf-8"></script>
  </body>
</html>
