<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    {% if google %}
      {% include google %}
    {% endif %}
    {% if mixpanel %}
      {% include mixpanel %}
    {% endif %}
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
    <meta charset="utf-8">
    <title>{{ title }}</title>
    <link rel="apple-touch-icon" href="/images/apple-touch-icon.png">
    <link href='https://api.tiles.mapbox.com/mapbox-gl-js/v0.46.0/mapbox-gl.css' rel='stylesheet' />
    <link rel="manifest" href="/manifest.json">
    <!-- <link rel="stylesheet" media="(min-width: 768px)" href="/css/home-max.css">
    <link rel="stylesheet" media="(max-width: 767px)" href="/css/home-med.css">
    <link rel="stylesheet" media="(max-width: 374px)" href="/css/home-min.css"> -->
    <link rel="stylesheet" media="(max-width: 374px)" href="/css/home-min.css">
    <link rel="stylesheet" media="(min-width: 375px) and (max-width: 767px)" href="/css/home-med.css">
    <link rel="stylesheet" media="(min-width: 768px)" href="/css/home-max.css">
  </head>
  <body>
    {% if intro %}
      {% include intro %}
    {% endif %}
    {% include "_partials/home/search.html" %}
    <div class="alert-container">
      <h6 class="alert"></h6>
      <div class="alert-icon"></div>
    </div>
    <header class="header">
      <section class="header-section">
        <h1 class="header-section-title">Streetwised</h1>
        <a href="/account" class="header-section-route {{ headerClass }}"></a>
      </section>
    </header>
    <main class="main">
      {% include "_partials/home/map.html" %}
      <div class="controller">
        <div class="controller-header">
          {% if ask %}
            {% include ask %}
          {% endif %}
          <section class="info">
            <h2 class="info-question-count"></h2>
            <p class="info-tagline"></p>
          </section>
        </div>
        {% include "_partials/view.html" %}
        {% include "_partials/home/insight.html" %}
        <section class="menu">
          <!-- <a href="/questions" class="menu-questions">See all questions</a>
          <a href="{{ route }}" class="menu-ask">Ask a question</a> -->
          <a href="/shoutouts" class="menu-questions">See all shoutouts</a>
          <a href="{{ route }}" class="menu-ask">Shoutout</a>
        </section>
      </div>
    </main>
    <script src="/js/mixpanel.js" charset="utf-8"></script>
    <script src="https://api.tiles.mapbox.com/mapbox-gl-js/v0.46.0/mapbox-gl.js"></script>
    <script src="/js/map.js" charset="utf-8"></script>
    <script src="/js/home.js" charset="utf-8"></script>
  </body>
</html>
