<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta charset="utf-8">
    <title>{{ title }}</title>
    <link rel="stylesheet" href="/css/post.css">
  </head>
  <header class="header">
    {% include header %}
  </header>
  <main class="main">
    <div class="main-container">
      <section class="main-section main-section-template">
        <article class="main-section-container">
          <h1 class="main-section-container-content"></h1>
          <div class="main-section-secondary-container">
            <div class="main-section-secondary-container-icon"></div>
            <p class="main-section-secondary-container-title"></p>
          </div>
        </article>
        <img class="main-section-image">
      </section>
      <article class="main-article main-article-template">
        <img class="main-article-section-header-image">
        <p class="main-article-content-text">
          <span class="main-article-section-header-title"></span>
          <span class="main-article-content"></span>
        </p>
        <div class="main-article-container"></div>
      </article>
    </div>    
  </main>
  <section class="section">
  {% include section %}
  </section>
  <script src="{{ script }}" charset="utf-8"></script>
</body>
</html>
