<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
    <meta charset="utf-8">
    <title>{{ title }}</title>
    <link rel="stylesheet" media="(max-width: 599px)" href="/css/post-min.css">
		<link rel="stylesheet" media="(min-width: 600px)" href="/css/post-max.css">
  </head>
  <body>
    <div class="alert-container">
      <h6 class="alert"></h6>
      <div class="alert-icon"></div>
    </div>
    <header class="header">
      <section class="header-section">
        <h1 class="header-section-title">Streetwised</h1>
        <button class="header-section-route"></button>
      </section>
    </header>
    <main class="main">
      <section class="question-template">
        <h2 class="question-content">
          <span class="content-tag"></span>
          <span class="content-text"></span>
        </h2>
        <div class="question-user">
          <img class="user-image">
          <h5 class="user-name"></h5>
        </div>
      </section>
      <section class="response-container">
        <article class="response-template">
          <img class="response-image">
          <p class="response-content">
            <span class="response-name"></span>
            <span class="response-text"></span>
          </p>
        </article>
      </section>
    </main>
    {% include controller %}
  </body>
  <script src="{{ script }}" charset="utf-8"></script>
</body>
</html>
