<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    {% if google %}
      {% include google %}
    {% endif %}
    {% if mixpanel %}
      {% include mixpanel %}
    {% endif %}
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
    <meta charset="utf-8">
    <title>{{ title }}</title>
    <link href='https://api.tiles.mapbox.com/mapbox-gl-js/v0.46.0/mapbox-gl.css' rel='stylesheet' />
    <link rel="stylesheet" href="/css/questions.css">
  </head>
  <body>
    <div class="alert-container">
      <h6 class="alert"></h6>
      <div class="alert-icon"></div>
    </div>
    <header class="header">
      <section class="header-section">
        <h1 class="header-section-title">Streetwised</h1>
        <a href="/account" class="header-section-route {{ headerClass }}"></a>
      </section>
    </header>
    {% include "_partials/view.html" %}
    <div class="controller">
      <a href="/" class="menu-questions">Back to map</a>
      <a href="{{ route }}" class="menu-ask">Ask a question</a>
    </div>
    <script src="{{ script }}" charset="utf-8"></script>
  </body>
</html>
