<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta charset="utf-8">
    <title>{{ title }}</title>
    <link href='https://api.tiles.mapbox.com/mapbox-gl-js/v0.46.0/mapbox-gl.css' rel='stylesheet' />
    <link rel="stylesheet" href="/css/questions.css">
  </head>
  <body>
    <header class="header">
      <section class="header-section">
        <i class="header-section-icon"></i>
        <div class="header-section-container">
          <h1 class="header-section-container-title">{{ location }}</h1>
        </div>
      </section>
    </header>
    <main class="view">
      <div class="view-container">
        <article class="view-article-full-template">
          <header class="view-article-header">
            <img class="view-article-header-image">
            <h1 class="view-article-header-title"></h1>
          </header>
          <p class="view-article-content"></p>
          <div class="view-article-container">
            <div class="view-article-container-badge"></div>
            <img class="view-article-container-image">
            <h1 class="view-article-container-title"></h1>
          </div>
          <p class="view-article-secondary-content"></p>
          <footer class="view-article-footer">
            <div class="view-article-footer-icon"></div>
            <p class="view-article-footer-location"></p>
            <a class="view-article-footer-link">
              <div class="view-article-footer-link-icon"></div>
              <p class="view-article-footer-link-content"></p>
            </a>
          </footer>
        </article>
        <article class="view-article-partial-template">
          <header class="view-article-header">
            <img class="view-article-header-image">
            <h1 class="view-article-header-title"></h1>
          </header>
          <p class="view-article-content"></p>
          <footer class="view-article-footer">
            <div class="view-article-footer-icon"></div>
            <p class="view-article-footer-location"></p>
            <a class="view-article-footer-link">
              <div class="view-article-footer-link-icon"></div>
              <p class="view-article-footer-link-content"></p>
            </a>
          </footer>
        </article>
      </div>
    </main>
    <section class="menu">
      <a href="/" class="menu-questions">Back to map</a>
      <a href="{{ route }}" class="menu-ask">Ask a question</a>
    </section>
    <script src="{{ script }}" charset="utf-8"></script>
  </body>
</html>
