@import url('https://fonts.googleapis.com/css?family=Quicksand:200,300,400,500');

* {
  border: 0;
  box-sizing: border-box;
  outline: none;
  margin: 0;
  padding: 0;
}

html, body {
  height: 100%;
  position: fixed;
  width: 100%;
}

body {
  overflow: hidden;
}

button {
  background-color: inherit;
}

::-webkit-scrollbar {
  display: none;
}

::-moz-scrollbar {
  display: none;
}

input {
-webkit-appearance: none;
-moz-appearance: none;
appearance: none;
}

/* ---------------------------------------------------------------------------*/
/* ---------------------------------------------------------------------------*/

:root {
  --header-height: 50px;
  --mapboxgl-section-height: calc(100% - 300px);
  --controller-height: 350px;
  /* ------- 350px ---------- */
  --info-height: 50px;
  --menu-section-height: 50px;
  --view-section-height: 125px;
  --insight-height: 125px;
  /* ------- Spinner ---------- */
  --spinner-height: 130px;
  /* ------------------------- */
  --search-section-height: calc(100vh);
}

/* ---------------------------------------------------------------------------*/
/* ---------------------------------------------------------------------------*/

.alert-container {
  border: 2px solid rgb(47, 184, 205);
  background-color: rgb(255, 255, 255);
  border-radius: 4px;
  box-shadow: 0 2px 4px rgba(0,0,0,0.1);
  display: none;
  left: 0;
  margin: auto;
  margin-top: 40px;
  position: absolute;
  right: 0;
  width: 300px;
  z-index: 10;
}

.alert {
  font-family: 'Quicksand', sans-serif;
  font-weight: 300;
  font-size: 16px;
  display: inline-block;
  line-height: 1.5;
  padding: 7px 0px 7px 10px;
  width: calc(300px - 36px);
}

.alert-icon {
  background-image: url(../assets/icons/times-light.svg);
  background-size: 20px 20px;
  background-position: center;
  background-repeat: no-repeat;
  cursor: pointer;
  display: inline-block;
  height: 20px;
  line-height: 20px;
  margin-bottom: 9px;
  margin-top: 9px;
  width: 20px;
  vertical-align: top;
}

/* ---------------------------------------------------------------------------*/
/* ---------------------------------------------------------------------------*/

.header,
.search-header {
  background-color: rgb(255, 255, 255);
  border-bottom: 2px solid rgb(47, 184, 205);
  height: var(--header-height);
  padding: 5px 10px;
  position: absolute;
  width: 100%;
  z-index: 2;
}

.header-section,
.search--section {
  height: calc(var(--header-height) - 10px);
  margin: auto;
  max-width: 1024px;
  width: 100%;
}

.header-section-title,
.search-header-section-container {
  color: rgb(37, 39, 43);
  display: inline-block;
  font-family: 'Quicksand', sans-serif;
  font-size: 20px;
  font-weight: 500;
  height: calc(var(--header-height) - 10px);
  line-height: calc(var(--header-height) - 10px);
  width: calc(100% - 40px);
  vertical-align: middle;
}

.header-section-route,
.search-header-section-icon {
  background-position: center;
  background-repeat: no-repeat;
  cursor: pointer;
  display: inline-block;
  height: calc(var(--header-height) - 10px);
  line-height: calc(var(--header-height) - 10px);
  width: 35px;
  vertical-align: middle;
}

.auth {
  background-image: url(../assets/icons/user-circle-light.svg);
  background-size: 30px 30px;
}

.unauth {
  background-image: url(../assets/icons/sign-in-alt-light.svg);
  background-size: 30px 30px;
}

.search-header-section-icon {
  background-image: url(../assets/icons/arrow-alt-left-light.svg);
  background-size: 30px 30px;
}

/* ---------------------------------------------------------------------------*/
/* ---------------------------------------------------------------------------*/

.main {
  display: block;
  height: 100%;
  width: 100%;
}

#mapboxgl {
  height: var(--mapboxgl-section-height);
  margin: auto;
  width: 100%;
}

.mapboxgl-marker {
  border: 1px solid rgba(31, 152, 172, 1);
  background-color: rgba(31, 152, 172, 0.2);
  border-radius: 50%;
  display: flex;
  height: 70px;
  bottom: 0;
  left: 0;
  right: 0;
  top: 0;
  margin: auto;
  position: absolute;
  width: 70px;
  z-index: 1;
}

.mapboxgl-point {
  border: 2px solid #ffffff;
  background-color: rgba(31, 152, 172, 1);
  border-radius: 50%;
  height: 12px;
  margin: auto;
  width: 12px;
}

.mapboxgl-ctrl,
.mapboxgl-ctrl-attrib,
.mapboxgl-compact {
  bottom: 40px;
}

.mapboxgl-zoom {
  border: 2px solid rgb(47, 184, 205);
  background-color: rgb(255, 255, 255);
  border-radius: 35px;
  bottom: 0;
  height: 70px;
  margin: auto;
  margin-right: 5px;
  right: 0;
  position: absolute;
  top: 0;
  width: 35px;
  z-index: 1;
}

.mapboxgl-zoom-in,
.mapboxgl-zoom-out {
  background-color: inherit;
  background-position: center;
  background-repeat: no-repeat;
  background-size: 20px 20px;
  cursor: pointer;
  display: block;
  height: 31px;
  width: 31px;
}

.mapboxgl-zoom-in {
  background-image: url(../assets/icons/plus-light.svg);
  border-radius: 50% 50% 0 0;
}

.mapboxgl-zoom-out {
  background-image: url(../assets/icons/minus-light.svg);
  border-top: 2px solid rgb(47, 184, 205);
  border-top: 2px solid rgba(47, 184, 205, 0.4);
  border-radius: 0 0 50% 50%;
}

.mapboxgl-options {
  border: 2px solid rgb(47, 184, 205);
  background-color: rgb(255, 255, 255);
  border-radius: 20px;
  bottom: 0;
  display: flex;
  height: 35px;
  margin-left: 5px;
  margin-bottom: 60px;
  position: absolute;
  width: 100px;
  z-index: 1;
}

.mapboxgl-options-search {
  background-image: url(../assets/icons/search-regular.svg);
  background-color: inherit;
  background-position: center;
  background-repeat: no-repeat;
  background-size: 22px 22px;
  border-right: 2px solid rgb(47, 184, 205);
  border-right: 2px solid rgba(47, 184, 205, 0.4);
  border-radius: 50% 0 0 50%;
  cursor: pointer;
  display: block;
  height: 31px;
  width: 50%;
}

.mapboxgl-options-geo,
.mapboxgl-options-geo-disabled {
  background-color: inherit;
  background-position: center;
  background-repeat: no-repeat;
  background-size: 28px 28px;
  border-radius: 50%;
  border-radius: 0 50% 50% 0;
  cursor: pointer;
  display: block;
  height: 31px;
  width: 50%;
}

.mapboxgl-options-geo {
  background-image: url(../assets/icons/location-light.svg);
}

.mapboxgl-options-geo-disabled {
  background-image: url(../assets/icons/location-slash-light.svg);
}


.mapboxgl-options-spinner {
  background-image: url(../assets/icons/spinner-third-light.svg);
  background-color: inherit;
  background-position: center;
  background-repeat: no-repeat;
  background-size: 25px 25px;
  border-radius: 50%;
  display: block;
  height: 31px;
  margin-left: 10px;
  width: 31px;
  -webkit-animation: spin 0.8s linear infinite; /* Safari */
  animation: spin 0.8s linear infinite;
}

/* Safari */
@-webkit-keyframes spin {
  0% { -webkit-transform: rotate(0deg); }
  100% { -webkit-transform: rotate(360deg); }
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}

/* ---------------------------------------------------------------------------*/
/* ---------------------------------------------------------------------------*/

.controller {
  background-color: rgb(255, 255, 255);
  bottom: 0;
  border: 2px solid rgb(47, 184, 205);
  border-bottom: none;
  border-radius: 25px 25px 0 0;
  height: var(--controller-height);
  position: absolute;
  width: 100%;
}

/* ---------------------------------------------------------------------------*/
/* ---------------------------------------------------------------------------*/

.ask {
  display: none
}

.info {
  height: var(--info-height);
  padding: 3px 5px 0 5px;
}

.info-question-count {
  color: rgb(37, 39, 43);
  font-family: 'Quicksand', sans-serif;
  font-weight: 500;
  font-size: 20px;
  height: 25px;
  text-align: center;
}

.info-tagline {
  color: rgb(37, 39, 43);
  font-family: 'Quicksand', sans-serif;
  font-weight: 300;
  font-size: 16px;
  height: 25px;
  text-align: center;
}

/* ---------------------------------------------------------------------------*/
/* ---------------------------------------------------------------------------*/

.view-container {
  display: flex;
  height: var(--view-section-height);
  overflow-x: scroll;
  overflow-y: hidden;
  margin: auto;
  padding-top: 10px;
  width: calc(100% - 10px);
}

.view-article-template {
  display: none;
}

.view-article {
  display: block;
  height: 100%;
  margin-right: 10px;
  position: relative;
  width: 80px;
}

.view-article-image {
  border: 1px solid rgb(230, 230, 230);
  border-radius: 50%;
  height: 80px;
  width: 80px;
  margin-top: 30px;
}

.view-article-content-tag {
  background-color: rgb(31, 152, 172);
  color: rgb(255, 255, 255);
  border-radius: 8px;
  display: block;
  font-family: 'Quicksand', sans-serif;
  font-weight: 200;
  font-size: 16px;
  margin: auto;
  padding: 2px 3px;
  position: absolute;
  top: 0;
  text-align: center;
  width: 100%;
}

.view-article-content-text {
  display: none;
}

.view-article-title {
  display: none;
}

.view-article-distance {
  display: none;
}

.view-article-location {
  display: none;
}

.view-article-link {
  display: none;
}

.view-article-link-icon {
  display: none;
}

.view-article-link-text {
  display: none;
}

/* ---------------------------------------------------------------------------*/
/* ---------------------------------------------------------------------------*/

.insight {
  height: var(--insight-height);
  padding: 0px 5px 5px 5px;
}

.insight-content {
  display: none;
  font-family: 'Quicksand', sans-serif;
  font-weight: 500;
  font-size: 20px;
  height: calc(100%);
  width: calc(100%);
}

.insight-image {
  border: 1px solid rgb(230, 230, 230);
  border-radius: 50%;
  display: inline-block;
  height: 25px;
  line-height: 25px;
  width: 25px;
  vertical-align: middle;
}

.insight-name {
  font-family: inherit;
  font-weight: inherit;
  font-size: inherit;
  line-height: 25px;
  vertical-align: middle;
}

.insight-icon,
.insight-route-icon {
  background-position: center;
  background-repeat: no-repeat;
  background-size: 20px 20px;
  display: inline-block;
  height: 25px;
  line-height: 25px;
  width: 20px;
  vertical-align: middle;
}

.insight-icon {
  background-image: url(../assets/icons/location-arrow-light.svg);
  margin: 0 5px 0 2px;
}

.insight-question {
  font-family: inherit;
  font-size: 20px;
  font-weight: 300;
  line-height: 25px;
  vertical-align: middle;
}

.insight-route {
  color: rgb(37, 39, 43);
  font-family: inherit;
  font-size: 18px;
  font-weight: 300;
  display: inline-block;
  line-height: 25px;
  margin-left: 5px;
  vertical-align: middle;
}

.insight-route-icon {
  background-image: url(../assets/icons/comment-light.svg);
}

.insight-route-text {
  display: inline-block;
  font-family: inherit;
  font-weight: inherit;
  font-size: inherit;
  line-height: 25px;
  vertical-align: middle;
  width: 23px;
}

.insight-route:link,
.insight-route:visited,
.insight-route:hover,
.insight-route:active {
  background-color: rgb(255, 255, 255);
  color: rgb(0, 0, 0);
  text-decoration: none;
}

/* -------------------------------------------------------------------------  */
/* ------------------------------------------------------------------------   */

.menu {
  display: flex;
  height: var(--menu-section-height);
  margin: auto;
  padding: 0px 10px;
  width: calc(100% - 10px);
}

.menu-questions,
.menu-ask {
  border-radius: 10px;
  border: 1px solid rgb(31, 152, 172);
  display: block;
  font-family: 'Quicksand', sans-serif;
  font-size: 16px;
  line-height: 30px;
  margin: auto;
  margin-top: 0;
  text-align: center;
  min-width: 130px;
  vertical-align: middle;
  width: 50%;
}

.menu-questions {
  color: rgb(31, 152, 172);
  margin-right: 4px;
}

.menu-questions:link,
.menu-questions:visited,
.menu-questions:hover,
.menu-question:active {
  background-color: (249, 249, 250);
  color: rgb(31, 152, 172);
  text-decoration: none;
}

.menu-ask {
  background-color: rgb(31, 152, 172);
  color: rgb(255, 255, 255);
  margin-left: 4px;
}

.menu-ask:link,
.menu-ask:visited,
.menu-ask:hover,
.menu-ask:active {
  text-decoration: none;
  background-color: rgb(31, 152, 172);
  color: rgb(255, 255, 255);
}

/* -------------------------------------------------------------------------  */
/* ------------------------------------------------------------------------   */

.search-modal {
  background-color: rgba(0, 0, 0, 0.1);
  display: none;
  height: 100%;
  position: fixed;
  z-index: 3;
  width: 100%;
}

.search {
  background-color: rgb(255, 255, 255);
  height: 100%;
  width: 100%;
}

.search-header {
  position: relative;
}

.search-header-section-container-input {
  color: rgb(37, 39, 43);
  font-family: 'Quicksand', sans-serif;
  font-size: 20px;
  font-weight: 400;
  height: calc(var(--header-height) - 10px);
  line-height: calc(var(--header-height) - 10px);
  padding-left: 15px;
  width: calc(100% - 20px);
  vertical-align: middle;
}

.search-header-section-container-input::placeholder {
  color: rgb(37, 39, 43);
  font-family: 'Quicksand', sans-serif;
  font-size: 20px;
  font-weight: 300;
}

.search-list {
  height: calc(100vh - var(--header-height));
  width: 100%;
  padding: 15px;
}

.search-list-item-template {
  display: none;
}

.search-list-item {
  font-family: 'Quicksand', sans-serif;
  font-size: 20px;
  font-weight: 300;
  list-style: none;
  margin: 0px 10px 10px 10px;
  overflow: hidden;
}

/* ---------------------------------------------------------------------------*/
/* ---------------------------------------------------------------------------*/

.load {
  display: none;
  height: var(--spinner-height);
  width: 100%;
}

.load-spinner {
  background-image: url(../assets/icons/spinner-third-light.svg);
  background-color: inherit;
  background-position: center;
  background-repeat: no-repeat;
  background-size: 30px 30px;
  border-radius: 50%;
  display: block;
  height: var(--spinner-height);
  margin: auto;
  width: var(--spinner-height);
  -webkit-animation: spin 0.8s linear infinite; /* Safari */
  animation: spin 0.8s linear infinite;
}

/* ---------------------------------------------------------------------------*/
/* ---------------------------------------------------------------------------*/

.intro {
  background-color: rgba(0, 0, 0, 0.2);
  display: block;
  height: 100%;
  position: fixed;
  z-index: 5;
  width: 100%;
}

.intro-section {
  background-color: rgb(255, 255, 255);
  bottom: 0;
  border: 2px solid rgb(47, 184, 205);
  border-bottom: none;
  border-radius: 25px 25px 0 0;
  height: var(--controller-height);
  padding: 20px;
  position: absolute;
  width: 100%;
}

.intro-section-title {
  color: rgb(3, 21, 13);
  font-family: 'Quicksand', sans-serif;
  font-weight: 500;
  font-size: 25px;
  line-height: 1.5;
  text-align: left;
  margin-bottom: 10px;
}

.intro-section-subtitle-text {
  color: rgb(3, 21, 13);
  font-family: 'Quicksand', sans-serif;
  font-size: 18px;
  font-weight: 300;
  line-height: 35px;
  vertical-align: middle;
}

.intro-section-subtitle-location,
.intro-section-subtitle-question,
.intro-section-subtitle-response {
  background-position: center;
  background-repeat: no-repeat;
  background-size: 18px 18px;
  display: inline-block;
  height: 35px;
  width: 25px;
  vertical-align: middle;
}

.intro-section-subtitle-location {
  background-image: url(../assets/icons/location-light.svg);
}

.intro-section-subtitle-question {
  background-image: url(../assets/icons/question-light.svg);
}

.intro-section-subtitle-response {
  background-image: url(../assets/icons/comment-check-light.svg);
}

.intro-section-button {
  background-color: rgb(31, 152, 172);
  color: rgb(255, 255, 255);
  cursor: pointer;
  border-radius: 10px;
  display: block;
  font-family: 'Quicksand', sans-serif;
  font-size: 20px;
  font-weight: 300;
  height: 35px;
  margin: auto;
  margin-top: 20px;
  text-align: center;
  width: 300px;
}
