* {
  border: 0;
  box-sizing: border-box;
  outline: none;
  margin: 0;
  padding: 0;
}

html, body {
  height: 100%;
}

body {
  overflow: hidden;
}

button {
  background-color: inherit;
}

::-webkit-scrollbar {
  display: none;
}

::-moz-scrollbar {
  display: none;
}

/* ---------------------------------------------------------------------------*/
/* ---------------------------------------------------------------------------*/

:root {
  --mapboxgl-section-height: calc(100% - 187px);
  --header-height: 60px;
  --preview-section-height: 70px;
  --menu-section-height: 51px;
  --search-section-height: calc(100vh);
  --ask-section-height: calc(100vh);
  --view-section-height: calc(100% - 111px);
}

/* ---------------------------------------------------------------------------*/
/* ---------------------------------------------------------------------------*/

.modal {
  display: none;
  height: 100%;
  padding-top: 100px;
  position: fixed;
  z-index: 2;
  width: 100%;
}

.modal-content {
  border: 1px solid rgb(190, 190, 190);
  border-radius: 10px;
  background-color: rgb(255, 255, 255);
  display: none;
  font-family: sans-serif;
  margin: auto;
  max-height: 500px;
  max-width: 400px;
  min-height: 100px;
  width: 80%;
}

.modal-content-image {
  border: 1px solid rgb(230, 230, 230);
  border-radius: 50%;
  display: block;
  height: 80px;
  margin: auto;
  margin-top: 20px;
  width: 80px;
}

.modal-content-title {
  color: rgb(3, 21, 13);
  font-family: sans-serif;
  font-size: 25px;
  font-weight: 400;
  padding: 15px;
  text-align: center;
}

.content-container {
  margin: 0px 25px 15px 25px;
  overflow: hidden;
}

.modal-content-text {
  color: rgb(41, 43, 44);
  box-sizing: content-box;
  font-family: sans-serif;
  font-size: 18px;
  max-height: 200px;
  line-height: 1.3;
  overflow-y: scroll;
  overflow-x: hidden;
  width: 100%;
}

.modal-content-container {
  display: flex;
  margin: 0px 25px 15px 25px;
}

.modal-content-container-icon {
  background-image: url(../assets/icons/map-marker-alt-light-colored.svg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: 16px 16px;
  display: block;
  height: 16px;
  width: 16px;
}

.modal-content-container-title {
  color: rgb(41, 43, 44);
  flex: 1;
  font-family: sans-serif;
  font-size: 16px;
  font-weight: 400;
  margin-left: 3px;
}

.modal-content-subtext {
  font-size: 12px;
}

.modal-content-banner {
  background-color: rgb(31, 152, 172);
  border-radius: 0px 0px 10px 10px;
  display: flex;
  height: 35px;
}

.modal-content-banner-travel {
  background-image: url(../assets/icons/location-arrow-light-white.svg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: 20px 20px;
  border-right: 1px solid rgb(255, 255, 255);
  border-right: 1px solid rgba(255, 255, 255, 0.4);
  display: block;
  height: 35px;
  width: 33%;
}

.modal-content-banner-comments {
  display: block;
  height: 35px;
  text-align: center;
  width: 33%;
}

.modal-content-banner-comments-icon {
  background-image: url(../assets/icons/comment-light-white.svg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: 22px 22px;
  display: inline-block;
  height: 35px;
  line-height: 35px;
  margin-right: 2px;
  width: 22px;
  vertical-align: middle;
}

.modal-content-banner-comments-count {
  color: rgb(255, 255, 255);
  display: inline-block;
  font-size: 18px;
  font-weight: 300;
  height: 35px;
  line-height: 35px;
  padding-left: 2px;
  vertical-align: middle;
}

.modal-content-banner-close {
  background-image: url(../assets/icons/times-light-white.svg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: 23px 23px;
  border-left: 1px solid rgb(255, 255, 255);
  border-left: 1px solid rgba(255, 255, 255, 0.4);
  display: block;
  height: 35px;
  width: 33%;
}

.modal-content-banner-comments:link,
.modal-content-banner-comments:visited,
.modal-content-banner-comments:hover,
.modal-content-banner-comments:active {
  background-color: inherit;
  color: #000;
  text-decoration: none;
}

/* ---------------------------------------------------------------------------*/
/* ---------------------------------------------------------------------------*/

.header {
  background: linear-gradient(45deg, rgb(31, 152, 172) 0%, rgb(47, 184, 205) 100%);
  height: var(--header-height);
  padding: 10px;
  width: 100%;
}

.header-section {
  display: flex;
  margin: auto;
  max-width: 600px;
}

.header-section-icon {
  background-image: url(../assets/icons/map-marker-alt-light-white.svg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: 18px 18px;
  display: block;
  height: calc(var(--header-height) - 20px);
  width: 20px;
}

.header-section-container {
  flex: 1;
  height: calc(var(--header-height) - 20px);
  overflow: hidden;
}

.header-section-container-title {
  background-color: inherit;
  box-sizing: content-box;
  color: rgb(255, 255, 255);
  display: block;
  font-family: sans-serif;
  font-size: 20px;
  font-weight: 400;
  height: calc(var(--header-height) - 32px);
  margin-top: 12px;
  overflow: hidden;
  width: 100%;
  white-space: nowrap;
}

.auth-header-section-link,
.unauth-header-section-link {
  background-color: inherit;
  background-position: center;
  background-repeat: no-repeat;
  display: block;
  height: calc(var(--header-height) - 20px);
  margin-left: 5px;
  margin-right: 5px;
  width: calc(var(--header-height) - 20px);
}

.auth-header-section-link {
  background-image: url(../assets/icons/user-circle-light-white.svg);
  background-size: 32px 32px;
}

.unauth-header-section-link {
  background-image: url(../assets/icons/sign-in-alt-light-white.svg);
  background-size: 32px 32px;
}

/* ---------------------------------------------------------------------------*/
/* ---------------------------------------------------------------------------*/


#mapboxgl {
  height: var(--mapboxgl-section-height);
  margin: auto;
  margin-top: 6px;
  max-width: 600px;
  width: calc(100% - 12px);
}

.mapboxgl-marker {
  border: 1px solid rgba(4, 100, 234, 0.8);
  background-color: rgba(55, 136, 250, 0.2);
  border-radius: 50%;
  display: flex;
  height: 70px;
  bottom: 0;
  left: 0;
  right: 0;
  top: 0;
  margin: auto;
  position: absolute;
  width: 70px;
  z-index: 1;
}

.mapboxgl-point {
  border: 2px solid #ffffff;
  background-color: rgba(4, 100, 234, 1);
  border-radius: 50%;
  height: 12px;
  margin: auto;
  width: 12px;
}

.mapboxgl-ctrl-attrib {
  display: none;
}

.mapboxgl-zoom {
  border: 2px solid rgb(47, 184, 205);
  background-color: rgb(255, 255, 255);
  border-radius: 35px;
  bottom: 0;
  height: 70px;
  margin: auto;
  margin-right: 5px;
  right: 0;
  position: absolute;
  top: 0;
  width: 35px;
  z-index: 1;
}

.mapboxgl-zoom-in,
.mapboxgl-zoom-out {
  background-color: inherit;
  background-position: center;
  background-repeat: no-repeat;
  background-size: 20px 20px;
  display: block;
  height: 31px;
  width: 31px;
}

.mapboxgl-zoom-in {
  background-image: url(../assets/icons/plus-light.svg);
  border-radius: 50% 50% 0 0;
}

.mapboxgl-zoom-out {
  background-image: url(../assets/icons/minus-light.svg);
  border-top: 2px solid rgb(47, 184, 205);
  border-top: 2px solid rgba(47, 184, 205, 0.4);
  border-radius: 0 0 50% 50%;
}

.mapboxgl-options {
  border: 2px solid rgb(47, 184, 205);
  background-color: rgb(255, 255, 255);
  border-radius: 20px;
  bottom: 0;
  display: flex;
  height: 40px;
  margin-left: 5px;
  margin-bottom: 10px;
  position: absolute;
  width: 120px;
  z-index: 1;
}

.mapboxgl-options-search {
  background-image: url(../assets/icons/search-regular.svg);
  background-color: inherit;
  background-position: center;
  background-repeat: no-repeat;
  background-size: 25px 25px;
  border-right: 2px solid rgb(47, 184, 205);
  border-right: 2px solid rgba(47, 184, 205, 0.4);
  border-radius: 50% 0 0 50%;
  display: block;
  height: 36px;
  width: 50%;
}

.mapboxgl-options-geo,
.mapboxgl-options-geo-disabled {
  background-color: inherit;
  background-position: center;
  background-repeat: no-repeat;
  background-size: 30px 30px;
  border-radius: 50%;
  border-radius: 0 50% 50% 0;
  display: block;
  height: 36px;
  width: 50%;
}

.mapboxgl-options-geo {
  background-image: url(../assets/icons/location-light.svg);
}

.mapboxgl-options-geo-disabled {
  background-image: url(../assets/icons/location-slash-light.svg);
}


.mapboxgl-options-spinner {
  background-image: url(../assets/icons/spinner-third-light.svg);
  background-color: inherit;
  background-position: center;
  background-repeat: no-repeat;
  background-size: 25px 25px;
  border-radius: 50%;
  display: block;
  height: 36px;
  margin-left: 10px;
  width: 36px;
  -webkit-animation: spin 0.8s linear infinite; /* Safari */
  animation: spin 0.8s linear infinite;
}

/* Safari */
@-webkit-keyframes spin {
  0% { -webkit-transform: rotate(0deg); }
  100% { -webkit-transform: rotate(360deg); }
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}

/* ---------------------------------------------------------------------------*/
/* ---------------------------------------------------------------------------*/

.search {
  display: none;
  height: var(--search-section-height);
  width: 100%;
}

.search-header {
  background: rgb(255, 255, 255);
  border-bottom: 1px solid rgb(31, 152, 172);
  height: var(--header-height);
  padding: 10px;
  width: 100%;
}

.search-header-section {
  display: flex;
  margin: auto;
  max-width: 600px;
}

.search-header-section-icon {
  background-image: url(../assets/icons/angle-left-light.svg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: 25px 25px;
  display: block;
  height: calc(var(--header-height) - 20px);
  width: 20px;
}

.search-header-section-container {
  flex: 1;
  height: calc(var(--header-height) - 22px);
  margin-left: 10px;
  margin-top: 2px;
  overflow: hidden;
}

.search-header-section-container-input {
  background-color: inherit;
  box-sizing: content-box;
  font-family: sans-serif;
  font-size: 16px;
  height: calc(var(--header-height) - 22px);
  width: 100%;
}

.search-header-section-container-input::placeholder {
  color: rgb(0, 0, 0);
  font-family: sans-serif;
  font-size: 16px;
}

.search-list {
  height: calc(100vh - var(--header-height));
  width: 100%;
  padding: 20px;
}

.search-list-item-template {
  display: none;
}

.search-list-item {
  font-family: sans-serif;
  font-size: 20px;
  font-weight: 400;
  list-style: none;
  margin: 0px 10px 10px 10px;
  overflow: hidden;
}

/* ---------------------------------------------------------------------------*/
/* ---------------------------------------------------------------------------*/

.ask {
  display: none;
  height: var(--search-section-height);
  width: 100%;
}

.ask-header {
  background: linear-gradient(45deg, rgb(31, 152, 172) 0%, rgb(47, 184, 205) 100%);
  color: rgb(255, 255, 255);
  height: var(--header-height);
  padding: 10px;
  width: 100%;
}

.ask-header-section {
  display: flex;
  margin: auto;
  max-width: 600px;
}

.ask-header-section-icon {
  background-image: url(../assets/icons/angle-left-light-white.svg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: 25px 25px;
  display: block;
  height: calc(var(--header-height) - 20px);
  width: 20px;
}

.ask-header-section-container {
  flex: 1;
  height: calc(var(--header-height) - 20px);
  margin-right: 20px;
  overflow: hidden;
}

.ask-header-section-container-title {
  background-color: inherit;
  box-sizing: content-box;
  color: rgb(255, 255, 255);
  display: block;
  font-family: sans-serif;
  font-size: 20px;
  font-weight: 400;
  height: calc(var(--header-height) - 28px);
  margin-top: 8px;
  overflow: hidden;
  text-align: center;
  width: 100%;
  white-space: nowrap;
}

.ask-form {
  display: block;
  height: 300px;
  overflow: hidden;
  margin: auto;
  margin-bottom: 15px;
  margin-top: 30px;
  width: 250px;
}

.ask-form-textarea {
  box-sizing: content-box;
  font-family: sans-serif;
  line-height: 1.5;
  font-size: 20px;
  height: 300px;
  overflow-y: scroll;
  resize: none;
  width: 250px;
}

.ask-form-textarea::placeholder {
  color: rgb(0, 0, 0);
  font-family: sans-serif;
  line-height: 1.5;
  font-size: 20px;
}

.ask-container {
  display: flex;
  height: 50px;
  overflow: hidden;
  margin: auto;
  width: 300px;
}

.ask-container-icon {
  background-image: url(../assets/icons/map-marker-alt-light-colored.svg);
  background-position: center top;
  background-repeat: no-repeat;
  background-size: 20px 20px;
  display: block;
  height: 50px;
  width: 30px;
}

.ask-container-title {
  box-sizing: content-box;
  color: rgb(41, 43, 44);
  flex: 1;
  font-family: sans-serif;
  font-size: 18px;
  font-weight: 400;
  line-height: 1.2;
  overflow: hidden;
  margin-left: 3px;
  margin-top: 5px;
}

.ask-buttons {
  background-color: rgb(255, 255, 255);
  display: flex;
  height: 40px;
  margin: auto;
  margin-top: 30px;
  max-width: 600px;
  width: 280px;
}

.ask-buttons-cancel,
.ask-buttons-post {
  border-radius: 4px;
  border: 1px solid rgb(31, 152, 172);
  display: block;
  font-family: sans-serif;
  font-size: 18px;
  height: 32px;
  margin: auto;
  margin-top: 0;
  text-align: center;
  width: 50%;
}

.ask-buttons-cancel {
  color: rgb(31, 152, 172);
  margin-right: 4px;
}

.ask-buttons-post {
  background-color: rgb(31, 152, 172);
  color: rgb(255, 255, 255);
  margin-left: 4px;
}

/* ---------------------------------------------------------------------------*/
/* ---------------------------------------------------------------------------*/

.view {
  display: none;
  height: var(--view-section-height);
  overflow: hidden;
  margin: auto;
  margin-bottom: 10px;
  max-width: 600px;
  width: 100%;
}

.view-container {
  box-sizing: content-box;
  height: 100%;
  overflow-y: scroll;
  width: 100%;
}

.view-article {
  border: 1px solid rgb(45, 189, 157);
  border: 1px solid rgba(45, 189, 157, 0.2);
  padding: 10px;
  width: 100%;
}

.view-article-full-template,
.view-article-partial-template {
  display: none;
}

.view-article-header {
  display: flex;
  width: 100%;
}

.view-article-header-image {
  border: 1px solid rgb(230, 230, 230);
  border-radius: 50%;
  display: block;
  height: 40px;
  width: 40px;
}

.view-article-header-title {
  color: rgb(3, 21, 13);
  display: block;
  flex: 1;
  font-family: sans-serif;
  font-size: 19px;
  font-weight: 400;
  letter-spacing: 0.5px;
  margin-left: 5px;
  padding-top: 9px;
}

.view-article-content {
  color: rgb(41, 43, 44);
  font-family: sans-serif;
  font-size: 23px;
  font-weight: 300;
  margin-left: 45px;
  word-wrap: break-word;
  width: calc(100% - 45px);
}

.view-article-container {
  display: flex;
  height: 30px;
  margin-top: 10px;
  margin-left: 45px;
  width: calc(100% - 45px);
}

.view-article-container-badge {
  background-image: url(../assets/icons/comment-check-light.svg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: 20px 20px;
  display: block;
  height: 20px;
  margin-top: 5px;
  width: 20px;
}

.view-article-container-image {
  border: 1px solid rgb(230, 230, 230);
  border-radius: 50%;
  display: block;
  height: 20px;
  margin-left: 5px;
  margin-top: 5px;
  width: 20px;
}

.view-article-container-title {
  display: block;
  flex: 1;
  font-family: sans-serif;
  font-size: 14px;
  font-weight: 700;
  height: 30px;
  margin-left: 5px;
  margin-top: 7px;
}

.view-article-secondary-content {
  font-family: sans-serif;
  font-size: 16px;
  font-weight: 100;
  margin-left: 50px;
  margin-right: 30px;
  width: calc(100% - 80px);
}

.view-article-footer {
  display: flex;
  height: 20px;
  margin-left: 45px;
  margin-top: 15px;
  width: calc(100% - 45px);
}

.view-article-footer-icon {
  background-image: url(../assets/icons/map-marker-alt-light-colored.svg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: 16px 16px;
  display: block;
  height: 16px;
  width: 16px;
}

.view-article-footer-location {
  color: rgb(41, 43, 44);
  flex: 1;
  font-family: sans-serif;
  font-size: 16px;
  font-weight: 400;
  letter-spacing: 0.4px;
  margin-left: 3px;
  overflow: hidden;
}

.view-article-footer-link {
  display: flex;
  width: 60px;
}

.view-article-footer-link:link,
.view-article-footer-link:visited,
.view-article-footer-link:hover,
.view-article-footer-link:active {
  background-color: inherit;
  color: #000;
  text-decoration: none;
}

.view-article-footer-link-icon {
  display: block;
  background-image: url(../assets/icons/comment-light-colored.svg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: 18px 18px;
  display: block;
  height: 18px;
  width: 18px;
}

.view-article-footer-link-content {
  color: rgb(41, 43, 44);
  font-family: sans-serif;
  font-size: 16px;
  font-weight: 400;
  margin-left: 5px;
}

/* ---------------------------------------------------------------------------*/
/* ---------------------------------------------------------------------------*/

.preview-container {
  display: block;
  height: var(--preview-section-height);
  overflow: hidden;
  margin: auto;
  margin-top: 10px;
  max-width: 600px;
  width: calc(100% - 12px);
}

.preview {
  box-sizing: content-box;
  display: flex;
  height: var(--preview-section-height);
  overflow-x: scroll;
  overflow-y: hidden;
  width: 100%;
}

.preview-image {
  border: 1px solid rgb(230, 230, 230);
  border-radius: 50%;
  display: block;
  flex: 1;
  max-height: 58px;
  margin-left: 10px;
  max-width: 58px;
}

/* -------------------------------------------------------------------------  */
/* ------------------------------------------------------------------------   */

.menu {
  background-color: rgb(255, 255, 255);
  display: flex;
  height: var(--menu-section-height);
  margin: auto;
  max-width: 600px;
  width: calc(100% - 12px);
}

.menu-questions,
.menu-ask,
.menu-ask-link {
  border-radius: 4px;
  border: 1px solid rgb(31, 152, 172);
  display: block;
  font-family: sans-serif;
  font-size: 20px;
  height: 35px;
  margin: auto;
  margin-top: 0;
  text-align: center;
  min-width: 150px;
  width: 50%;
}

.menu-questions {
  color: rgb(31, 152, 172);
  margin-right: 4px;
}

.menu-ask,
.menu-ask-link {
  background-color: rgb(31, 152, 172);
  color: rgb(255, 255, 255);
  margin-left: 4px;
}

.menu-ask-link {
  padding-top: 5px;
}

.menu-ask-link:link,
.menu-ask-link:visited,
.menu-ask-link:hover,
.menu-ask-link:active {
  background-color: rgb(31, 152, 172);
  color: rgb(255, 255, 255);
  text-decoration: none;
}

/* -------------------------------------------------------------------------  */
/* ------------------------------------------------------------------------   */

.intro {
  display: block;
  height: 100%;
  position: fixed;
  z-index: 2;
  width: 100%;
}

.intro-section {
  background-color: rgb(255, 255, 255);
  border-radius: 20px 20px 0 0;
  border-left: 1px solid rgb(230, 230, 230);
  border-right: 1px solid rgb(230, 230, 230);
  border-top: 1px solid rgb(230, 230, 230);
  bottom: 0;
  height: 300px;
  left: 0;
  margin: auto;
  max-width: 400px;
  padding: 20px;
  position: absolute;
  right: 0;
  width: 100%;
}

.intro-section-title {
  color: rgb(3, 21, 13);
  font-family: sans-serif;
  font-size: 21px;
  font-weight: 400;
  line-height: 1.5;
  text-align: left;
  margin-bottom: 10px;
}

.intro-section-subtitle {
  /* margin-top: 30px;
  margin-left: 10px;
  width: 300px; */
}

.intro-section-subtitle-text {
  color: rgb(3, 21, 13);
  font-family: sans-serif;
  font-size: 18px;
  font-weight: 300;
  line-height: 35px;
  vertical-align: middle;
}

.intro-section-subtitle-location,
.intro-section-subtitle-question,
.intro-section-subtitle-response {
  background-position: center;
  background-repeat: no-repeat;
  background-size: 18px 18px;
  display: inline-block;
  height: 35px;
  width: 25px;
  vertical-align: middle;
}

.intro-section-subtitle-location {
  background-image: url(../assets/icons/location-light.svg);
}

.intro-section-subtitle-question {
  background-image: url(../assets/icons/question-light.svg);
}

.intro-section-subtitle-response {
  background-image: url(../assets/icons/comment-check-light.svg);
}

.intro-section-button {
  background-color: rgb(31, 152, 172);
  color: rgb(255, 255, 255);
  border-radius: 4px;
  display: block;
  font-family: sans-serif;
  font-size: 20px;
  height: 35px;
  margin: auto;
  margin-top: 20px;
  text-align: center;
  width: 300px;
}
