@import url('https://fonts.googleapis.com/css?family=Quicksand:200,300,400,500');

* {
  border: 0;
  box-sizing: border-box;
  outline: none;
  margin: 0;
  padding: 0;
}

html, body {
  height: 100%;
  position: fixed;
  width: 100%;
}

body {
  overflow: hidden;
}

button {
  background-color: inherit;
}

::-webkit-scrollbar {
  display: none;
}

::-moz-scrollbar {
  display: none;
}

/* ---------------------------------------------------------------------------*/
/* ---------------------------------------------------------------------------*/

:root {
  --header-height: 50px;
  --main-height: calc(100% - 50px);
  --container-height: 100%;
  --controller-height: 60px;
}

/* ---------------------------------------------------------------------------*/
/* ---------------------------------------------------------------------------*/

.alert-container {
  border: 2px solid rgb(47, 184, 205);
  background-color: rgb(255, 255, 255);
  border-radius: 4px;
  box-shadow: 0 2px 4px rgba(0,0,0,0.1);
  display: none;
  left: 0;
  margin: auto;
  margin-top: 40px;
  position: absolute;
  right: 0;
  width: 300px;
  z-index: 10;
}

.alert {
  font-family: 'Quicksand', sans-serif;
  font-weight: 300;
  font-size: 16px;
  display: inline-block;
  line-height: 1.5;
  padding: 7px 0px 7px 10px;
  width: calc(300px - 36px);
}

.alert-icon {
  background-image: url(../assets/icons/times-light.svg);
  background-size: 20px 20px;
  background-position: center;
  background-repeat: no-repeat;
  cursor: pointer;
  display: inline-block;
  height: 20px;
  line-height: 20px;
  margin-bottom: 9px;
  margin-top: 9px;
  width: 20px;
  vertical-align: top;
}

/* ---------------------------------------------------------------------------*/
/* ---------------------------------------------------------------------------*/

.header {
  background-color: rgb(255, 255, 255);
  border-bottom: 2px solid rgb(47, 184, 205);
  height: var(--header-height);
  padding: 5px 10px;
  width: 100%;
  z-index: 2;
}

.header-section {
  height: calc(var(--header-height) - 10px);
  margin: auto;
  max-width: 1024px;
  width: 100%;
}

.header-section-title {
  color: rgb(37, 39, 43);
  display: inline-block;
  font-family: 'Quicksand', sans-serif;
  font-size: 20px;
  font-weight: 500;
  height: calc(var(--header-height) - 10px);
  line-height: calc(var(--header-height) - 10px);
  width: calc(100% - 40px);
  vertical-align: middle;
}

.header-section-route {
  background-image: url(../assets/icons/arrow-alt-left-light.svg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: 30px 30px;
  cursor: pointer;
  display: inline-block;
  height: calc(var(--header-height) - 10px);
  line-height: calc(var(--header-height) - 10px);
  width: 35px;
  vertical-align: middle;
}

/* -------------------------------------------------------------------------- */
/* -------------------------------------------------------------------------- */


.main {
  display: flex;
  height: 100%;
  margin: auto;
  max-width: 1024px;
  width: 100%;
}

/* ---------------------------------------------------------------------------*/
/* ---------------------------------------------------------------------------*/

.question-template {
  display: none;
}

.question {
  border-bottom: 2px solid rgb(47, 184, 205);
  border-left: 2px solid rgb(47, 184, 205);
  border-right: 2px solid rgb(47, 184, 205);
  display: flex;
  height: 300px;
  order: 2;
  padding: 10px;
  width: 50%;
}

.response-container {
  height: var(--container-height);
  order: 1;
  overflow-y: scroll;
  width: 50%;
}

/* ---------------------------------------------------------------------------*/
/* ---------------------------------------------------------------------------*/

.question-user {
  display: inline-block;
  height: 130px;
  width: 100px;
}

.user-image {
  border: 1px solid rgb(230, 230, 230);
  border-radius: 50%;
  display: block;
  height: 70px;
  margin: auto;
  margin-top: 10px;
  width: 70px;
}

.user-name {
  display: block;
  font-family: 'Quicksand', sans-serif;
  font-size: 16px;
  font-weight: 500;
  margin-top: 10px;
  text-align: center;
}

.question-content {
  display: inline-block;
  font-family: 'Quicksand', sans-serif;
  font-weight: 300;
  font-size: 20px;
  height: 130px;
  padding-right: 10px;
  width: calc(100% - 105px);
}

.content-tag {
  background-color: rgb(31, 152, 172);
  color: rgb(255, 255, 255);
  border-radius: 8px;
  font-family: 'Quicksand', sans-serif;
  font-size: 16px;
  font-weight: 300;
  padding: 2px 4px;
}

.content-text {
  font-family: inherit;
  font-weight: inherit;
  font-size: inherit
}

/* -------------------------------------------------------------------------- */
/* -------------------------------------------------------------------------- */

.response-template {
  display: none;
}

.response {
  display: flex;
  padding: 10px;
  width: calc(100% - 50px);
}

.response-image {
  border-radius: 50%;
  display: inline-block;
  height: 35px;
  margin-right: 5px;
  width: 35px;
}

.response-content {
  display: inline-block;
  font-family: 'Quicksand', sans-serif;
  font-weight: 500;
  font-size: 18px;
  margin-top: 5px;
}

.response-name {
  font-family: inherit;
  font-size: inherit;
  font-weight: inherit;
}

.response-text {
  font-family: 'Quicksand', sans-serif;
  font-weight: 300;
  font-size: 18px;
}

/* -------------------------------------------------------------------------- */
/* -------------------------------------------------------------------------- */

.controller {
  background-color: rgb(255, 255, 255);
  bottom: 0;
  border: 2px solid rgb(47, 184, 205);
  border-bottom: none;
  border-radius: 25px 25px 0 0;
  display: flex;
  height: var(--controller-height);
  left: 0;
  max-width: 1024px;
  margin: auto;
  position: absolute;
  padding: 10px;
  right: 0;
  width: 100%;
}

.controller-route {
  background-color: rgb(31, 152, 172);
  border-radius: 10px;
  color: rgb(255, 255, 255);
  display: block;
  font-family: 'Quicksand', sans-serif;
  font-size: 16px;
  line-height: 35px;
  height: 35px;
  max-width: 400px;
  margin: auto;
  text-align: center;
  width: 90%;
}

.controller-route {
  background-color: rgb(31, 152, 172);
  color: rgb(255, 255, 255);
  text-decoration: none;
}

.controller-image {
  border-radius: 50%;
  display: inline-block;
  height: 35px;
  line-height: 35px;
  margin-right: 5px;
  width: 35px;
}

.form {
  border-bottom: 2px solid rgb(47, 184, 205);
  display: flex;
  height: 35px;
  line-height: 35px;
  width: calc(100% - 50px);
}

.form-response {
  font-family: 'Quicksand', sans-serif;
  font-size: 18px;
  height: 33px;
  line-height: 33px;
  margin: auto;
  padding: 3px 5px 0px 5px;
  width: calc(100% - 50px);
}

.form-button {
  font-family: 'Quicksand', sans-serif;
  font-size: 18px;
  font-weight: 500;
  height: 35px;
  margin: auto;
  margin-left: 5px;
  padding-top: 1px;
  width: 45px;
}
