@import url('https://fonts.googleapis.com/css?family=Quicksand:200,300,400,500');

* {
  border: 0;
  box-sizing: border-box;
  outline: none;
  margin: 0;
  padding: 0;
}

html, body {
  height: 100%;
  position: fixed;
  width: 100%;
}

body {
  overflow: hidden;
}

button {
  background-color: inherit;
}

::-webkit-scrollbar {
  display: none;
}

::-moz-scrollbar {
  display: none;
}

/* ---------------------------------------------------------------------------*/
/* ---------------------------------------------------------------------------*/

:root {
  --header-height: 50px;
  --view-height: calc(100% - 100px);
  --controller-height: 60px;
}

/* ---------------------------------------------------------------------------*/
/* ---------------------------------------------------------------------------*/

.alert-container {
  border: 2px solid rgb(47, 184, 205);
  background-color: rgb(255, 255, 255);
  border-radius: 4px;
  box-shadow: 0 2px 4px rgba(0,0,0,0.1);
  display: none;
  left: 0;
  margin: auto;
  margin-top: 40px;
  position: absolute;
  right: 0;
  width: 300px;
  z-index: 10;
}

.alert {
  font-family: 'Quicksand', sans-serif;
  font-weight: 300;
  font-size: 16px;
  display: inline-block;
  line-height: 1.5;
  padding: 7px 0px 7px 10px;
  width: calc(300px - 36px);
}

.alert-icon {
  background-image: url(../assets/icons/times-light.svg);
  background-size: 20px 20px;
  background-position: center;
  background-repeat: no-repeat;
  cursor: pointer;
  display: inline-block;
  height: 20px;
  line-height: 20px;
  margin-bottom: 9px;
  margin-top: 9px;
  width: 20px;
  vertical-align: top;
}

/* ---------------------------------------------------------------------------*/
/* ---------------------------------------------------------------------------*/

.header {
  background-color: rgb(255, 255, 255);
  border-bottom: 2px solid rgb(47, 184, 205);
  height: var(--header-height);
  padding: 5px 10px;
  width: 100%;
  z-index: 2;
}

.header-section {
  height: calc(var(--header-height) - 10px);
  margin: auto;
  max-width: 800px;
  width: 100%;
}

.header-section-title {
  color: rgb(37, 39, 43);
  display: inline-block;
  font-family: 'Quicksand', sans-serif;
  font-size: 20px;
  font-weight: 500;
  height: calc(var(--header-height) - 10px);
  line-height: calc(var(--header-height) - 10px);
  width: calc(100% - 40px);
  vertical-align: middle;
}

.header-section-route {
  background-position: center;
  background-repeat: no-repeat;
  cursor: pointer;
  display: inline-block;
  height: calc(var(--header-height) - 10px);
  line-height: calc(var(--header-height) - 10px);
  width: 35px;
  vertical-align: middle;
}

.auth {
  background-image: url(../assets/icons/user-circle-light.svg);
  background-size: 30px 30px;
}

.unauth {
  background-image: url(../assets/icons/sign-in-alt-light.svg);
  background-size: 30px 30px;
}

/* -------------------------------------------------------------------------- */
/* -------------------------------------------------------------------------- */

.view-container {
  height: var(--view-height);
  overflow-y: scroll;
}

.view-article-template {
  display: none;
}

.view-article {
  margin-bottom: 5px;
  padding: 10px;
}

.view-article-image {
  border: 1px solid rgb(230, 230, 230);
  border-radius: 50%;
  display: inline-block;
  height: 40px;
  line-height: 40px;
  margin-right: 5px;
  width: 40px;
  vertical-align: middle;
}

.view-article-title {
  display: inline-block;
  font-family: 'Quicksand', sans-serif;
  font-weight: 500;
  font-size: 20px;
  line-height: 40px;
  vertical-align: middle;
  width: calc(100% - 110px);
}

.view-article-content-tag {
  background-color: rgb(31, 152, 172);
  color: rgb(255, 255, 255);
  border-radius: 8px;
  font-family: 'Quicksand', sans-serif;
  font-size: 16px;
  font-weight: 300;
  padding: 2px 4px;
}

.view-article-content {
  font-family: 'Quicksand', sans-serif;
  font-size: 20px;
  font-weight: 300;
  padding: 2px 0;
}

/* .view-article-options {
  display: none;
  width: 130px;
  margin: auto;
} */

.view-article-distance,
.view-article-link {
  display: inline-block;
  line-height: 25px;
  margin: auto;
  width: 50px;
}

.view-article-distance {
  display: none;
}

.view-article-link:link,
.view-article-link:visited,
.view-article-link:hover,
.view-article-link:active {
  background-color: rgb(255, 255, 255);
  color: rgb(0, 0, 0);
  text-decoration: none;
}

/* .view-article-distance {
  margin-left: calc(100% - 130px);
} */


.view-article-distance-icon,
.view-article-link-icon {
  background-position: center;
  background-repeat: no-repeat;
  background-size: 20px 20px;
  display: inline-block;
  height: 25px;
  line-height: 25px;
  width: 20px;
  vertical-align: middle;
}

.view-article-distance-icon {
  background-image: url(../assets/icons/location-arrow-light.svg);
  margin: 0 5px 0 2px;
}

.view-article-link-icon {
  background-image: url(../assets/icons/comment-light.svg);
}

.view-article-distance-text,
.view-article-link-text {
  display: inline-block;
  font-family: 'Quicksand', sans-serif;
  font-weight: 300;
  font-size: 16px;
  line-height: 25px;
  vertical-align: middle;
  width: 25px;
}



/* -------------------------------------------------------------------------- */
/* -------------------------------------------------------------------------- */

.controller {
  background-color: rgb(255, 255, 255);
  bottom: 0;
  border: 2px solid rgb(47, 184, 205);
  border-bottom: none;
  border-radius: 25px 25px 0 0;
  display: flex;
  height: var(--controller-height);
  position: absolute;
  padding: 10px;
  width: 100%;
}

.menu {
  display: flex;
  height: var(--menu-section-height);
  margin: auto;
  margin-top: 10px;
  width: calc(100% - 10px);
}

.menu-questions,
.menu-ask {
  border-radius: 10px;
  border: 1px solid rgb(31, 152, 172);
  display: block;
  font-family: 'Quicksand', sans-serif;
  font-size: 16px;
  line-height: 30px;
  margin: auto;
  margin-top: 0;
  text-align: center;
  min-width: 130px;
  vertical-align: middle;
  width: 50%;
}

.menu-questions {
  color: rgb(31, 152, 172);
  margin-right: 4px;
}

.menu-questions:link,
.menu-questions:visited,
.menu-questions:hover,
.menu-question:active {
  background-color: (249, 249, 250);
  color: rgb(31, 152, 172);
  text-decoration: none;
}

.menu-ask {
  background-color: rgb(31, 152, 172);
  color: rgb(255, 255, 255);
  margin-left: 4px;
}

.menu-ask:link,
.menu-ask:visited,
.menu-ask:hover,
.menu-ask:active {
  text-decoration: none;
  background-color: rgb(31, 152, 172);
  color: rgb(255, 255, 255);
}
