<!DOCTYPE html>
<html>
  <head>
    {% if google %}
      {% include google %}
    {% endif %}
    {% if mixpanel %}
      {% include mixpanel %}
    {% endif %}
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
    <meta name="description" content="PWA">
    <title>{{ title }}</title>
    <link rel="apple-touch-icon" href="/images/apple-touch-icon.png">
    <link rel="manifest" href="/manifest.json">
    <link rel="stylesheet" href="/css/unauth/account-min.css">
  </head>
  <body>
    <div class="alert-container">
      <h6 class="alert"></h6>
      <div class="alert-icon"></div>
    </div>
    <header class="header">
      <section class="header-section">
        <h1 class="header-section-title">Streetwised</h1>
        <button class="header-section-route"></button>
      </section>
    </header>
    <main class="main">
      <form class="signup-form">
        <div class="signup-form-container">
          <div class="signup-form-container-buffer"></div>
          <input type="text" name="email" class="signup-email signup-form-container-input" placeholder="Email" autocomplete="off" autocorrect="off">
          <div class="signup-buffer-email"></div>
        </div>
        <div class="signup-form-container">
          <div class="signup-form-container-buffer"></div>
          <input type="password" name="password" class="signup-password signup-form-container-input" placeholder="Password" autocomplete="off" autocorrect="off">
          <div class="signup-buffer-password"></div>
        </div>
        <div class="signup-form-container">
          <div class="signup-form-container-buffer"></div>
          <input type="text" name="username" class="signup-username signup-form-container-input" placeholder="Username" autocomplete="off" autocorrect="off">
          <div class="signup-buffer-username"></div>
        </div>
        <div class="signup-form-container">
          <div class="signup-form-container-buffer"></div>
          <input type="text" name="name" class="signup-name signup-form-container-input" placeholder="Full Name" autocomplete="off" autocorrect="off">
          <div class="signup-buffer-name"></div>
        </div>
        <input type="submit" value="Signup" class="signup-form-button-submit">
        <div class="checkbox-container">
          <input type="checkbox" name="checkbox" class="checkbox" id="signup-checkbox" checked />
          <label for="signup-checkbox" class="checkbox-label">Keep me signed in.</label>
        </div>
      </form>
      <form class="login-form">
        <div class="login-form-container">
          <div class="login-form-container-buffer"></div>
          <input type="text" name="username" class="login-form-container-input login-username" placeholder="Username" autocomplete="off" autocorrect="off">
          <div class="login-buffer-username"></div>
        </div>
        <div class="login-form-container">
          <div class="login-form-container-buffer"></div>
          <input type="password" name="password" class="login-form-container-input login-password" placeholder="Password" autocomplete="off" autocorrect="off">
          <div class="login-buffer-password"></div>
        </div>
        <input type="submit" value="Log in" class="login-form-button-submit">
        <div class="checkbox-container">
          <input type="checkbox" name="checkbox" class="checkbox" id="login-checkbox" checked />
          <label for="login-checkbox" class="checkbox-label">Keep me logged in.</label>
        </div>
      </form>
    </main>
    <section class="controller">
      <h3 class="section-title"><span class="section-title-span-text">Have an account? </span><span class="section-title-span-link">Log in</span></h3>
    </section>
    <script src="/js/mixpanel.js" charset="utf-8"></script>
    <script src="/js/unauth/account.js" charset="utf-8"></script>
  </body>
</html>
