<section class="view-container">
  <article class="view-article-template">
    <img class="view-article-image">
    <h1 class="view-article-title"></h1>
    <p class="view-article-tag"></p>
    <p class="view-article-distance">
      <span class="view-article-distance-icon"></span>
      <span class="view-article-distance-text"></span>
    </p>
    <a href="/" class="view-article-link">
      <span class="view-article-link-icon"></span>
      <span class="view-article-link-text"></span>
    </a>
    <p class="view-article-content"></p>
  </article>
</section>
